@import "themes/cyberpunk.css";

* {
  border: none;
  border-radius: 0px;
  font-family:
    Iosevka,
    FontAwesome,
    Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
  color: @black;
}

window#waybar {
  background-color: alpha(@purple, 0.4);
}

tooltip {
  background-color: @purple;
}

/* Available modules */
/* #custom-date, */
/* #clock, */
/* #cpu, */
/* #disk, */
/* #memory, */
/* #battery, */
/* #pulseaudio, */
/* #tray, */
/* #network, */
/* #window, */
/* #workspaces, */
/* #custom-randwall, */
/* #custom-launcher */

.module {
  background: @yellow;
  border: none;
  border-radius: 0%;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 5px 12px 5px 12px;
  margin: 5px;
  color: #000;
  outline: none;
}

.modules-left .module {
  border-right: 5px solid @neon;
}

.modules-right .module {
  border-left: 5px solid @neon;
}

.modules-center .module {
  border-right: 5px solid @neon;
  border-left: 5px solid @neon;
}

#custom-launcher,
#clock {
  background: @purple;
}

#window {
  background: @red;
}

#tray {
  background: @blue;
  color: #fff;
}

#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
}

#workspaces button.active {
  background-color: transparent;
  border-radius: 16px;
}

#custom-date {
  color: #d3869b;
}

#clock {
  border-radius: 0px 0px 0px 24px;
  padding-left: 13px;
  padding-right: 15px;
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  /*border-left: solid 1px #282738;*/
}

#pulseaudio.muted {
  color: @red;
}

#custom-launcher {
  border-radius: 0px 0px 24px 0px;
  margin: 0px 10px 0px 0px;
  padding: 0 20px 0 13px;
  font-size: 20px;
}

.calendar {
  background: @purple;
}
